*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.DotSettings.user
.cursorignore
.env

bin/
obj/
publish/
artifacts/
*.binlog
[Bb]uild[Ll]og.*

.vs/
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

*.log
*.tmp
*.cache
_ReSharper*/
*.[Rr]e[Ss]harper

[Tt]est[Rr]esult*/
*.trx
*.received.*
.bublish - Shortcut.lnk
